/****************************************************/
/* Estilização geral do corpo */
/****************************************************/
body {
    font-family: "72", Arial, sans-serif;
    margin: 0;
    background-color: rgb(236, 238, 239);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Ajuste no main para garantir que ele preencha o espaço disponível */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/****************************************************/
/* Cabeçalho */
/****************************************************/
.custom-header {
    background-color: rgb(0, 113, 70);
    color: white;
    width: 100%;
}

.custom-header .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.custom-header .logo-img {
    height: 30px;
    padding-left: 10px;
}

.custom-footer .top-bar .d-flex {
    align-items: center;
}

.custom-header .navbar {
    background-color: rgb(0, 113, 70);
    padding: 0;
}

.custom-header .navbar .nav-link {
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
}

.custom-header .navbar .nav-link:hover {
    color: #ddd;
}

/****************************************************/
/* Rodapé */
/****************************************************/
.custom-footer {
    background-color: rgb(0, 113, 70);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/****************************************************/
/* Botões de miniApps */
/****************************************************/
.card.draggable {
    cursor: move;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:  0px;
}

/* Estilização do texto dentro dos quadrados de aplicação */
.card.draggable h5 {
    font-size: 1rem;
}

.icon-bottom-left {
    align-self: flex-start;
    margin-top: auto;
    font-size: 2rem;
    color: rgba(0, 113, 70, 0.3);
}

.container {
    padding-left: 0px !important;
    margin-left: 0px !important;
}

#sortable {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0px;
}

.mini-app {
    flex: 0 0 calc(10% - 0px);
    margin-bottom: 20px;
}

.card.draggable {
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/****************************************************/
/* Botões CRUD */
/****************************************************/
.action-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* Botão de adicionar (plus) */
.btn-add {
    background-color: rgba(0, 113, 70, 0.8);
    color: white;
    border: none;
}
.btn-add:hover {
    background-color: rgba(0, 113, 70, 0.9);
}

/* Botão de editar (pencil) */
.btn-edit {
    background-color: rgba(0, 113, 70, 0.6);
    color: white;
    border: none;
}
.btn-edit:hover {
    background-color: rgba(0, 113, 70, 0.7);
}

/* Botão de excluir (trash) */
.btn-delete {
    background-color: rgba(0, 113, 70, 0.4);
    color: white;
    border: none;
}
.btn-delete:hover {
    background-color: rgba(0, 113, 70, 0.5);
}

/****************************************************/
/* Formulários */
/****************************************************/

/* Grupo de campos com borda suave */
.row.border {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
}

.row {
    margin-left: 0 !important; /* Remove margens indesejadas */
}

/* Reduzindo espaço entre labels e campos */
.form-group label,
.row label {
    margin-bottom: 0; /* Ajuste para reduzir o espaço */
}

/* Botão "Salvar" com sombra */
.btn-primary {
    background-color: rgb(0, 113, 70);
    border-color: rgb(0, 90, 60);
    max-width: 100px;
}
.btn-primary:hover {
    background-color: rgb(0, 90, 60);
    border-color: rgb(0, 75, 50);
}

/* Estilização do título */
.form-title {
    font-size: 1.2rem;
    color: #666;
}

/* Estilização da linha fina abaixo dos títulos */
.line-fine {
    border: none;
    border-bottom: 1px solid #aaa;
    margin-top: 0;
    margin-bottom: 5px;
}

/* Reduz o tamanho da fonte das labels nos formulários */
.form-label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #888;
}

/* Estilização da linha do botão "Salvar" */
.bg-save-row {
    background-color: rgba(0, 113, 70, 0.1);
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 0;
    display: flex;
    align-items: center;
}

/****************************************************/
/* Página 403 */
/****************************************************/
.btn-home {
    background-color: #007142; /* Cor do botão */
    color: white; /* Cor do texto */
    padding: 15px 30px; /* Mais preenchimento */
    font-size: 1.2rem; /* Tamanho maior da fonte */
    border-radius: 8px; /* Borda arredondada */
    text-align: center; /* Centralização do texto */
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 300px; /* Largura máxima */
    display: block; /* Torna o botão um bloco para centralização */
    margin: 20px auto; /* Centraliza horizontalmente e adiciona espaçamento vertical */
}

.btn-home:hover {
    background-color: #005a33; /* Cor ao passar o mouse */
    text-decoration: none; /* Remove sublinhado ao passar o mouse */
}
