{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4 p-4" style="background-color: #f7f7f7; border-radius: 8px;">
    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- Linha do Título -->
        <div class="row mb-3">
            <div class="d-flex flex-column justify-content-start">
                <h4 class="form-title">{{ title }}</h4>
                <hr class="line-fine">
            </div>
        </div>

        <!-- Linha 1: Sigla e Nome -->
        <div class="row mb-1 ">
            <div class="col-md-2 d-flex flex-column justify-content-start">
                {{ form.fazendaSigla.label(class="form-label") }}
                {{ form.fazendaSigla(class="form-control input-sigla") }}
            </div>
            <div class="col-md-10 d-flex flex-column justify-content-start">
                {{ form.fazendaNome.label(class="form-label") }}
                {{ form.fazendaNome(class="form-control input-nome") }}
            </div>
        </div>

        <!-- Linha 2: CEP, Estado, Cidade -->
        <div class="row mb-1">
            <div class="col-md-2 d-flex flex-column justify-content-start">
                {{ form.fazendaCEP.label(class="form-label") }}
                {{ form.fazendaCEP(class="form-control input-cep") }}
            </div>
            <div class="col-md-2 d-flex flex-column justify-content-start">
                {{ form.fazendaEstado.label(class="form-label") }}
                {{ form.fazendaEstado(class="form-control input-estado") }}
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-start">
                {{ form.fazendaCidade.label(class="form-label") }}
                {{ form.fazendaCidade(class="form-control input-cidade") }}
            </div>
        </div>

        <!-- Linha 3: Bairro, Logradouro, Número -->
        <div class="row mb-1">
            <div class="col-md-4 d-flex flex-column justify-content-start">
                {{ form.fazendaBairro.label(class="form-label") }}
                {{ form.fazendaBairro(class="form-control input-bairro") }}
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-start">
                {{ form.fazendaLogradouro.label(class="form-label") }}
                {{ form.fazendaLogradouro(class="form-control input-logradouro") }}
            </div>
            <div class="col-md-2 d-flex flex-column justify-content-start">
                {{ form.fazendaNumero.label(class="form-label") }}
                {{ form.fazendaNumero(class="form-control input-numero") }}
            </div>
        </div>

        <!-- Linha 4: Complemento, Status -->
        <div class="row mb-2">
            <div class="col-md-8 d-flex flex-column justify-content-start">
                {{ form.fazendaComplemento.label(class="form-label") }}
                {{ form.fazendaComplemento(class="form-control input-complemento") }}
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-start">
                {{ form.statusId.label(class="form-label") }}
                {{ form.statusId(class="form-control input-status") }}
        </div>

        <!-- Botão de Salvar -->
        <div class="row mt-3 bg-save-row">
            <div class="col-md-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
